* {
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.container {
  min-height: 60vh;
  color: white;
  background-color: lightyellow;
  border: 1px solid black;
  padding: 0.5em;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  /* justify-content: flex-start; */
  /* align-content: space-evenly; */
  /* align-items: center; */
  gap: 2em 1em;
}
.item {
  border: 1px solid black;
  padding: 0.5em;
  /* margin: 0.5em; */
  /* flex-basis: 0; */
  /* flex-grow: 1; */
  /* flex: 1 */
}
.item-1 {
  background-color: blue;
  /* position: fixed; */
  /* top: 0; */
  /* font-size: 3em; */
  /* flex-grow: 3; */
  /* order: 1; */
}
.item-2 {
  background-color: green;
  width: 100px;
}
.item-3 {
  background-color: red;
  height: 100px;
  /* flex-grow: 1; */
  /* order: -1; */
  /* flex: 1; */
}
.item-4 {
  background-color: violet;
  width: 200px;
}
.item-5 {
  background-color: brown;
  width: 150px;
  height: 150px;
  /* flex-basis: 100px; */

}
.item-6 {
  background-color: goldenrod;
  width: 250px;
  /* align-self: flex-start; */
  /* flex-shrink: 0; */
}
